<!DOCTYPE html>
<html>
  <head>
    <title>Alex's Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='d-flex flex-column'>
    <div class='sticky-container'>
      <%= render 'layouts/navigation'%>
      <div class='page-body'>
        <div class='container'>
          <%= render 'layouts/messages' %> 
          <%= yield %>
        </div>
      </div>
      <%= render 'layouts/footer'%>
    </div>
  </body>
</html>
